body {
  @include stretch(0, 0, 0, 0);
  background: map-get(map-get($theme-map, 'light'), 'body-bg-color');
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: $color-grey-dark-1;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  overflow: hidden;

  @each $theme, $color in $theme-map {
    &[data-theme='#{$theme}'] {
      background-color: #{map-get($color, 'body-bg-color')};
    }
  }
}

.pause-overlay {
  @include stretch(0, 0, 0, 0);
  overflow: hidden;
  background-color: rgba($color-black, 0.2);
  display: none;
  align-items: center;

  .is-game-paused & {
    display: flex;
  }

  .is-popup-shown & {
    display: none;
  }

  .pause-overlay__message {
    margin: auto;
    font-size: 24px;
    text-transform: uppercase;
    color: #FFF;
    font-weight: 500;
    padding: 20px;
  }
}

.canvas {
  @include stretch(0, 0, 0, 0);
  margin: auto;

  @include mobile {
    bottom: 70px;
  }
}

.cell {
  &.snake {
    background-color: #FAF;
    // background-image: url('../images/penis.gif');
  }

  &.food {
    background-color: #6AA;
    // background-image: url('../images/vagina.png');
  }

  &.food,
  &.snake {
    background: {
      size: 100%;
      position: 50%;
      repeat: no-repeat;
    }
  }
}

.cell-row {
  display: flex;
}
