.menu {
  .menu__title {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .menu__section {

  }

  .menu__section-preference {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }

  .menu__section-preference-label {
    width: 100px;
  }

  .menu__section-preference-field {
    flex: 1;
  }

  .menu__about {
    margin-top: 50px;
  }
}
