.popup {
  @include stretch(0, 0, 0, 0);
  display: none;
  align-items: center;

  @each $theme, $colors in $theme-map {
    [data-theme="#{$theme}"] & {
      background-color: map-get($colors, 'overlay-bg-color');
    }
  }

  &.is-shown {
    display: flex;
  }

  .popup__body {
    margin: auto;
    padding: 50px;

    @include mobile {
      padding: 20px;
    }

    @each $theme, $colors in $theme-map {
      [data-theme="#{$theme}"] & {
        background-color: map-get($colors, 'menu-bg-color');
      }
    }
  }
}
